@import './global/reset.css';
@import './global/header.css';
@import './global/footer.css';
@import './global/botao.css0';

.principal {
    margin-top: 4rem;
}

.principal-sessao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;    
}


.principal-sessao-navegacao {
    display: flex;
    gap: 2rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid var(--cor-borda);
}

.principal-sessao-navegacao img {
    max-width: 10rem;
    padding: 1rem;
    border: 2px solid var(--cor-borda);
    border-radius: 3px;
    filter: grayscale(0.4);
}

.principal-sessao-navegacao img:hover {
    transform: scale(1.1);
    filter: contrast(1.2);
    transition: 0.55s;
}

h1 {
    margin-bottom: 3.2rem;
    font-size: 6.4rem;
    color: var(--cor-borda);
}

.principal-opcoes {
    padding: 6rem;
}

.principal-opcoes h1 {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.principal-opcoes img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: 3px solid var(--cor-borda);
    border-radius: 3px;
}

.principal-opcoes img:hover {
    transform: translateY(-0.6rem);
    transition: 2s;
}

.principal-opcoes-lista {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 9rem;
    list-style: none;

}

.principal-opcoes-lista li {
    border: 1px solid var(--cor-borda);
    background-color: #AF8F6F;
    padding: 2rem;
    border-radius: 3px;
}

.principal-opcoes-lista li:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

.principal-opcoes-lista li button {
    margin-top: 0.5rem;
    display: block;
    padding-left: 2.2rem;
    padding: 1rem;
}

a h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

a h2::before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 0.8rem;
    background-color: var(--cor-borda); 
    transition: width 0.2s;
}

a:hover h2::before {
    width: 2.4rem;
}

a span {
    padding-top: 0.25rem;
    padding-left: 2.2rem;
}

.principal-opcoes-lista li a {
    text-decoration: none;
    color: var(--cor-borda);
    font-weight: bold;
}

.principal-opcoes-lista span {
    color: #0e380e;
}

.card-texto {
    display: flex;
    flex-direction: column;
}

.card-texto h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card-compra {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.card-compra button {
    background-color: #F8F4E1;
    border-radius: 3px;
    border: 0;
    color: var(--cor-borda);
    font-weight: bold;
}

@media(max-width: 1000px) {
    h1 {
        text-align: center;
        text-transform:lowercase;
    }
}