@import './global/reset.css';
@import './global/header.css';
@import './global/footer.css';
@import './global/scroll.css';

.principal-galeria {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: var(--cor-fundo-1);
    padding: 2rem;
}

.galeria-coluna {
    display: flex;
    flex-direction: column;
}

.galeria-span img {
    max-width: 80rem;
    max-height: 20rem;
}

.principal-galeria img {
    margin-bottom: 1rem;
    max-width: 30rem;
    object-fit: cover;
    border: 3px solid var(--cor-borda);
    object-fit: cover;
}

.principal-galeria img:hover {
    filter: contrast(1.25);
    transform: scale(1.025);
    transition: 1s;
}

.principal-informações {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8rem;
    padding: 6rem;
}

#foto-1 {
    height: 46.6rem;
}

#foto-2 {
    height: 47.6rem;
}

#foto-3 {
    height: 31.4rem;
}

.principal-artigo {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    margin-bottom: 3.2rem;
    font-size: 6.4rem;
    line-height: 1.125;
    color: var(--cor-borda);
}

.principal-artigo p {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    line-height: 1.5;
}

.principal-artigo button {
    max-width: 19rem;
    padding: 2rem;
    background-color: var(--cor-fundo-1);
    border-radius: .5rem;
    border: 0;
}

.principal-artigo button a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    color: #F8F4E1;
}

.principal-artigo button:hover {
    background-color: var(--cor-fundo-botao);
    transition-delay: 0.25s;
}

.principal-sessao img {
    display: block;
    max-width: 90%;
    border: 3px solid var(--cor-borda);
    position: relative;
    z-index: 2;
}

.principal-opcoes {
    border-top: 1px solid black;
    margin-top: -10rem;
    padding: 6rem;
}

.principal-opcoes h1 {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.principal-opcoes img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: 3px solid var(--cor-borda);
    border-radius: 3px;
}

.principal-opcoes-lista {
    margin-top: 8rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 9rem;
    list-style: none;
}

a h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

a h2::before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 0.8rem;
    background-color: var(--cor-borda); 
    transition: width 0.2s;
}

a:hover h2::before {
    width: 2.4rem;
}


a span {
    padding-top: 0.25rem;
    padding-left: 2.2rem;
}

.principal-opcoes-lista li a {
    text-decoration: none;
    color: var(--cor-borda);
    font-weight: bold;
}

.principal-opcoes-lista span {
    color: #287527;
}

/* Responsivo */


@media (max-width: 1050px) {

    .principal-informações {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }

    .principal-informações h1 {
        font-size: 4rem;
        text-align: center;
    }

    .principal-informações p {
        width: 30rem;
        text-align: center;
    }

    .principal-informações button {
        margin: 0 auto;
    }

    .principal-sessao img {
        margin-top: 5rem;
        margin: 0 auto;
    }
    
    .principal-galeria {
        overflow-x: auto;
    }
    
    .galeria-coluna img {
        display: flex;
        flex-direction: row;
        border: 3px solid var(--cor-borda);

    }

    .principal-opcoes h1 {
        font-size: 4rem;
        text-wrap: nowrap;
        text-align: center;
    }

    .principal-opcoes-lista {
        flex-wrap: wrap;
        gap: 1rem;
    }
}