.rodape {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 6rem;
    background-color: var(--cor-fundo-1);
    color: #38230c;
}

.rodape img {
    max-width: 20rem;
}

.rodape h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: black;
}

.rodape a {
    text-decoration: none;
    color: #38230c;
    font-size: 2rem;
}

.rodape a:hover {
    color:rgb(252, 252, 252);
    transition: 1.5s;
}

.rodape p:hover {
    color:rgb(252, 252, 252);
    transition: 1.5s;
}

.rodape ul {
    list-style: none;
}

.contato {
    display: flex;
    gap: 2rem;
}

.contato img {
    max-width: 5rem;
}

.rodape-informacoes {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: gray;
    font-weight: bold;
}

.rodape-informacoes ul{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}